---
---

@import "{{ site.theme }}";

#banner {
  margin-right:-500px;
}

.fork {
    margin-left:-500px;
}

.wrapper {
  width:850px;
}

section {
  width:800px;
}

nav {
  margin-left:-680px;
}

footer {
  display: none;
}
